---
import "../css/global.css";
import Layout from "../layouts/Layout.astro";
import Section from "../components/CateringText.astro";
import SectionImg from "../components/CateringImg.astro";
const showTitle = true;
---

<Layout imageVariant="lille" Image="/heroImg/Hero_Catering.png"  title="Falafel Factory - CATERING" showTitle={showTitle}>
    <Section
    sectionVariant="1col"
   classType="Catering"
    sectionTitle="Catering til dit næste event?"
    sectionText="Medbring den fulde Falafel Factory oplevelse hvor som helst. Vores catering tilbydes til alle typer af begivenheder, og vores retter består af samme gode kvalitet som i vores butik. Vælg imellem vores mindre frokost pakke eller vores all exclusive pakke. Du er også altid velkommen til at tage kontakt til os, så vi i fælleskab kan sammensætte den perfekte menu, efter netop dine  og dine gæsters behov."
    ></Section>
    <SectionImg
    sectionVariant="2col"
    ></SectionImg>
    <Section
    sectionVariant="1col"
   classType="Husk"
    sectionTitle="Husk!"
    sectionText="Vi accepterer ordrer af minimum 10 pers., og husk at bestille senest 7 dage før. Afhent i vores butik på Nørrebrogade 63, 2200 København. Alle hverdage 11:00 - 21:00 - info@falafelfactory.dk for mere information. "
    ></Section>
</Layout>