---

import Layout from "../layouts/Layout.astro";
import Hero from "../components/Hero_Small.astro";
import Product from "../components/Product.astro";
import ProductSection from "../components/ProductSection.astro";
import Section from "../components/Section.astro";
import Button from "../components/Button.astro";
import "../css/global.css";



---

<Layout imageVariant="stor" title="Falafel Factory" Image="/heroImg/Hero_Home.png">
   
    <ProductSection sectionText="Vores populære rætter" sectionVariant="3col">
        <Product 
        imgSrc="retter/freestylepita.webp" 
        imgAlt="En spicy carrot pita" 
        headerText="Spicy Carrot"
        description="Fetaost, cherrytomater, valnødder, mynte, hummus, persillesalat og tahindressing" 
        buttonVariant="primary" 
        buttonText="Tilføj ordre"
        price="80">
    </Product>
    <Product 
        imgSrc="retter/kukupita.webp" 
        imgAlt="Kuku Pita" 
        headerText="Kuku Pita" 
        description="Kartoffelomelet med krydderurter, hummus, persillesalat og tahindressing"
        buttonVariant="primary" 
        buttonText="Tilføj ordre"
        price="80">
    </Product>
    <Product 
        imgSrc="retter/rootspita.webp" 
        imgAlt="Roots Pita" 
        headerText="Roots Pita" 
        description="Rødbede falafler, tahin, rødkålssalat, dukkah og tahindressing"
        buttonVariant="primary" 
        buttonText="Tilføj ordre"
        price="70">
    </Product>
    <Button buttonVariant="tertiary" buttonText="SE HELE MENUEN"/>
   
</Section>
<Section
    sectionVariant="3col"
    imgVariant="imgLeft"
    span="span2"
    sectionBackground="sectionWhite"
    sectionTitle="VI TILBYDER CATERING TIL DIT NÆSTE EVENT"
    sectionText="Medbring den fulde Falafel Factory oplevelse hvor som helst! Vi fokuserer på kvalitet af ingredienser, som vi gerne vil dele med dig og dine gæster."
    sectionImg="/Vi_tilbyder_Catering.webp"
    sectionAlt=""
    buttonVariant="4th" 
    buttonText="Læs mere">
   
 
    
</Section>
<Section
sectionVariant="4col"
imgVariant="imgRight"
imgType="imgCenter"
span="span1"
sectionBackground="sectionWhite"
sectionTitle="Om Os"
sectionText="Vi omfavner udvalgte opskrifter fra Mellemøsten, især den velkendte falafel der med en blid brise har fundet vej til vores butik i København. Vi tilfører vores eget personlige præg til traditionelle opskrifter, da vores passion er at udforske forskellige smagsoplevelser. Det kommer til udtryk i vores måde at kombinere forskellige køkkener på."
sectionImg="/Om_os.webp"
sectionAlt=""
buttonVariant="4th" 
buttonText="Læs mere">
    
</Section>
</Layout/>



<style>

  

  


</style>