---

import Layout from "../layouts/Layout.astro";
import Hero from "../components/Hero_Small.astro";
import Product from "../components/Product.astro";
import ProductSection from "../components/ProductSection.astro";
import Section from "../components/Section.astro";

const {Image} = Astro.props;
const {imageVariant} = Astro.props;
---

<Layout imageVariant="stor" title="Falafel Factory" Image="/heroImg/Hero_Home.png">
   
    <ProductSection sectionText="Vores populære rætter" sectionVariant="3col">
        <Product 
        imgSrc="retter/freestylepita.webp" 
        imgAlt="En spicy carrot pita" 
        headerText="Spicy Carrot"
        description="Fetaost, cherrytomater, valnødder, mynte, hummus, persillesalat og tahindressing" 
        buttonVariant="primary" 
        buttonText="Tilføj ordre"
        price="80">
    </Product>
    <Product 
        imgSrc="retter/kukupita.webp" 
        imgAlt="Kuku Pita" 
        headerText="Kuku Pita" 
        description="Kartoffelomelet med krydderurter, hummus, persillesalat og tahindressing"
        buttonVariant="primary" 
        buttonText="Tilføj ordre"
        price="80">
    </Product>
    <Product 
        imgSrc="retter/rootspita.webp" 
        imgAlt="Roots Pita" 
        headerText="Roots Pita" 
        description="Rødbede falafler, tahin, rødkålssalat, dukkah og tahindressing"
        buttonVariant="primary" 
        buttonText="Tilføj ordre"
        price="70">
    </Product>
</Section>
<Section 
    sectionHeader="om os"
    sectionVariant="2col">
    <div>
        <p>Lidt text</p>
    </div>
    <div class="sectionImg">
        <img src="#" alt="Et billede">
    </div>
</Section>
</Layout/>
    
<h1>Team19 - Home</h1>


<style>

  


</style>