---
import Layout from "../layouts/Layout.astro";
const {Image} = Astro.props;
const {imageVariant} = Astro.props;
---

<Layout imageVariant="stor"  Image="/heroImg/Hero_Menu.png" title="Falafel Factory - MENU">
<h1>Team19 - Menu</h1>
</Layout>

<style>

</style>