---
import Layout from "../layouts/Layout.astro";
import Product from "../components/Product.astro";
import "../css/global.css";

const apiEndpoint = "https://jgiscxohiqtteuwqyfad.supabase.co/rest/v1/menu";
const apiKey = "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImpnaXNjeG9oaXF0dGV1d3F5ZmFkIiwicm9sZSI6ImFub24iLCJpYXQiOjE3MDA1Njg0MjgsImV4cCI6MjAxNjE0NDQyOH0.ioDBej7LRKgrKtxrX7F7ia4lbG2PqH49mwQZHvOb0X4";

const fullMenu = await fetch(apiEndpoint, {
    method: "GET",
    headers: {
        apikey: apiKey,
    },
});

const data = await fullMenu.json();

// Sort the data by ID in ascending order
const sortedData = data.sort((a, b) => a.id - b.id);

console.log(sortedData);
---
<Layout title="Falafel Factory - Menukort">
    <section class="menu">
        <section class="menuTab">
            <ul class="menuChoice">
                <li class="menuLinks"><a href="#" id="pita">Pita</a></li>
                <li class="menuLinks"><a href="#" id="platte">Platte</a></li>
                <li class="menuLinks"><a href="#" id="bowls">Bowls</a></li>
                <li class="menuLinks"><a href="#" id="sides">Sides</a></li>
                <li class="menuLinks"><a href="#" id="drinks">Drinks</a></li>
            </ul>
        </section>
        <section class="menuItems">
            <ul class="dishes">
                <!-- <Product menuItem={data[1]} buttonVariant="primary" buttonText="Tilføj"/>
                <Product menuItem={data[2]} buttonVariant="primary" buttonText="Tilføj"/>
                <Product menuItem={data[3]} buttonVariant="primary" buttonText="Tilføj"/> -->

                <h1>Udkommentere mapen hvis du skal kigge på opsætning</h1>
                {
                    sortedData.map(menuItems => {
                        return <Product menuItem={menuItems} buttonVariant="primary" buttonText="Tilføj"/>
                    })
                }
            </ul>   
        </section>
    </section>
</Layout>
<script>
    // Fang tabsen
    const tabs = document.querySelectorAll(".menuLinks > a");
    // Find ud hvad hver tab indholder 
    tabs.forEach(tab => {
        const tabName = tab.textContent;
        // console.log(tabName);
    })

</script>

<style>
.menu {
    width: 90%;
    display: flex;
    flex-direction: column;
    margin: auto;
}
.menuTab {
    width: 85%;
    margin: auto;
    border-bottom: 3px solid var(--ff-green1);  

}
.menuChoice {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    list-style: none;
    width: 80%;
    margin: auto;
}
.menuChoice > .menuLinks {
    justify-content: center;
}
.menuLinks {
    display:flex;
    list-style: none;
    height: 3rem;
    width: 10rem;
    box-sizing: content-box;
    justify-content: space-between;
    text-align: center;
    align-content: center;
}
.menuLinks a {
    text-decoration: none;
    font-size: 2rem;
    color: var(--ff-green1);
}
.menuLinks a:hover {
    color: var(--ff-green2);
}
.menuLinks a:active {
    text-decoration: underline;
}
.menuItems {
    display: flex;
    flex-direction: column;
    overflow: hidden;
}
.menuItems a {
    font-size: larger;
    text-decoration: none;
}
.dishes {
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 1rem;
}
.singleDish {
    display: grid;
    list-style: none;
}
</style>