---
import Layout from "../layouts/Layout.astro";
import Section from "../components/Section.astro";
import VoresKoncept from "../components/VoresKoncept.astro";

import "../css/global.css";
const {Image} = Astro.props;
const {imageVariant} = Astro.props;
const showTitle = true;
---

<Layout imageVariant="lille" Image="/heroImg/Hero_Om.webp"  title="Falafel Factory - Om Os" showTitle={showTitle} heroTitle="Om Os">
    <VoresKoncept/>
    <Section
    sectionVariant="3col"
    imgVariant="imgLeft"
    span="span2"
    sectionBackground="sectionWhite"
    sectionTitle="BUTIKKEN"
    sectionText="I vores grønne oase i hjertet a Nørrebro, kan du slappe af og føle dig hjemme. Vi anretter dit måltid for øjnene af dig. Man kan både se og smage, og det gør lige oplevelsen mere sanserig. Vi vil gerne udstråle det ærlige og transparente – du får, hvad du ser"
    sectionImg="/Butikken.webp"
    sectionAlt="Et hyggeligt caféhjørne med et rustikt træbord og matchende stole. En væglampe kaster et varmt lys over bordet, og væggen bagved er dekoreret med hængende grønne planter i lyserøde potter, hvilket giver rummet en frisk og organisk følelse. På venstre side ses en del af en disk med synlig mad, hvilket antyder, at dette er en del af et serveringsområde. Billedet fremkalder en indbydende og afslappet atmosfære."
    buttonVariant="4th" 
    buttonText="Se Menu"
    buttonLink="/menu/">
    
</Section>



</Layout>

<style>

</style>