---
const {buttonVariant, buttonText} = Astro.props;
---

<button data-variant={buttonVariant}>
    <p>
        {buttonText}
    </p>
</button>

<style>
button {
    box-sizing: content-box;
    height: auto;
    max-height: 2rem;
    max-width: 12rem;
    padding: 0.5rem;
    border-radius: 1.5rem;
    border: 2px solid;
    text-align: center;
}
button:hover {
    /* hvad kunne vi tænke os her? */
    text-decoration: underline 2px;
}
p {
    text-transform: uppercase;
    text-align: center;
    font-size: 1rem;
    font-size: 0.8vw;
    padding: 0.2rem;
    margin: 0.1rem;
}
[data-variant="primary"] {
    color: var(--ff-white1);
    border-color: var(--ff-white1);
    background-color: var(--ff-green1);
    
}
[data-variant="secondary"] {
    color: var(--ff-green1);
    border-color: var(--ff-white);
    background-color: var(--ff-white);
}
[data-variant="tertiary"] {
    color: var(--ff-green1);
    border-color: var(--ff-green1);
    background-color: rgba(0, 0, 0, 0);
}
[data-variant="4th"] {
    color: var(--ff-white1);
    border-color: var(--ff-white1);
    background-color: var(--ff-green1);
    padding-left: 5%;
    padding-right: 5%;
    
}
</style>