---
const {buttonVariant, buttonText,buttonLink} = Astro.props;
---

<button data-variant={buttonVariant}>
    <a href={buttonLink}> {buttonText}</a>
</button>

<style>
button {
    display: inline-block;
    box-sizing: content-box;
    height: auto;
    max-height: 2rem;
    max-width: 12rem;
    padding: 0.5rem;
    border-radius: 1.5rem;
    border: 2px solid;
    text-align: center;
    text-transform: uppercase;
}
button:hover {
    /* hvad kunne vi tænke os her? */
    text-decoration: underline 2px;
}
a {
    text-transform: uppercase;
    line-height: 1.25rem;
    font-size: clamp(0.75rem, 3vw, 1.25rem);
    text-align: center;
    padding: 0.2rem;
    margin: 0.1rem;
}
[data-variant="primary"] {
    color: var(--ff-white1);    
    border-color: var(--ff-white1);
    background-color: var(--ff-green1);
    
}
[data-variant="primary"]a {
    color: var(--ff-white1);     
}
[data-variant="secondary"]a {
    color: var(--ff-green1);     
}
[data-variant="tertiary"]a {
    color: var(--ff-green1);    
}
[data-variant="4th"]a {
    color: var(--ff-white1);   
}
[data-variant="5th"]a {
    color: var(--ff-green1);   
}

[data-variant="primary"]:hover {
    background-color: #6e7e5b;
    
}
[data-variant="secondary"] {
    color: var(--ff-green1);
    border-color: var(--ff-white);
    background-color: var(--ff-white);
}
[data-variant="tertiary"] {
    color: var(--ff-green1);
    border-color: var(--ff-green1);
    background-color: rgba(0, 0, 0, 0);

}
[data-variant="tertiary"]:hover {
    background-color: #ffffff7c;
    
}
[data-variant="4th"] {
    color: var(--ff-white1);
    border-color: var(--ff-white1);
    background-color: var(--ff-green1);
    padding-left: 5%;
    padding-right: 5%;
    
}
[data-variant="4th"]:hover {
    background-color: #6e7e5b;
    
}
[data-variant="5th"] {
    color: var(--ff-green1);
    border-color: var(--ff-white1);
    background-color: var(--ff-white1);
    padding-left: 5%;
    padding-right: 5%;
    
}

@media(max-width:768px){
[data-variant="5th"] {
    display: none;
    color: var(--ff-green1);
    border-color: var(--ff-white1);
    background-color: var(--ff-white1);
    padding-left: 5%;
    padding-right: 5%;
    
}



}
</style>