---
---

<footer>
        <img class="googleMaps" src="../media/img/maps.webp" alt="placeholder Google maps">
        <div class="contactInfo">
            <h3>Kontakt</h3>
            <ul id="contact">
                <li>Nørrebrogade 63, 2200</li>
                <li>+45 52 40 63 63</li>
                <li><a href="mailto:info@falafelfactory.dk">info@falafelfactory.dk</a></li>
            </ul>
        </div>
        <div class="iconTab">
            <div class="icons">
                <h3>Social Media</h3>
                <div class="mediaLogo">
                    <a href="https://www.facebook.com/falafelfactorycph?fref=ts"><img src="../media/svg/icons/facebook.svg" alt="Facebook"></a>
                    <a href="https://www.instagram.com/falafel_factory_cph/?hl=da"><img src="../media/svg/icons/instagram.svg" alt="Instagram"></a>
                </div>
                    <img src="../media/img/tripadvisor.webp" alt="Tripadvisor anmeldelser 4.5 ud af 5 stjerner">
            </div>
            <div id="logo">
                    <img src="../media/img/footer_logo.webp" alt="Logotype">
            </div>
        </div>
</footer>

<style>

footer {
    display: flex;
    border-top: 2px solid var(--ff-green2);
    padding-top: 2rem;
    width: 90%;
    margin: auto;
    padding-top: 5rem;
    flex-direction: row;
    gap: 2rem;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    align-items: flex-start;
}
.googleMaps {
    min-width: 280px;
    max-width: 400px;
    width: 100%;    
    height: auto;
}
.contactInfo {
    display: flex;
    flex-direction: column;
}
#contact, #contact a {
    list-style: none;
    color: var(--ff-green2);
}
#contact {
    display: grid;
    gap: 1rem;
}
.iconTab {
    display: grid;
    grid-template-columns: 1fr;
    height: 200px;
    align-items: center;
}
.iconTab a {
    display: flex;
}
.mediaLogo {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1.5rem;
}
#tripadvisor {
    width: fit-content;
}
#logo {
    display: flex;
    height: auto;
    width: 100%;
    justify-content: center;
}
#logo img {
    min-width: 120px;
    max-width: 200px;
    min-height: 120px;
    max-height: 200px;
    height: auto;
    width: auto;

}
.icons {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.icons h3, .contactInfo h3 {
    padding-bottom: 1rem;

}

@media (max-width: 450px) {
footer {
    gap: 3rem;
}
.iconTab {
    grid-template-columns: 1fr;
    gap: 2rem;
}
.contactInfo {
    text-align: center;
}
}
</style>