---
---

<footer>
    <div class="topBorder"></div>
    <div class="googleMaps">
        <img src="media/img/maps.webp" alt="placeholder Google maps">
    </div>
    <ul class="contactInfo">
        <h3>Kontakt</h3>
        <div id="contact">
            <li><p>Nørrebrogade 63, 2200</p></li>
            <li><p>+45 52 40 63 63</p></li>
            <li><a href="mailto:info@falafelfactory.dk">info@falafelfactory.dk</a></li>
        </div>
    </ul>
        <div class="mediaLogo">
            <div>
                <img src="media/svg/icons/facebook.svg" alt="Facebook">
                <img src="media/svg/icons/instagram.svg" alt="Instagram">
            </div>
                <img src="#" alt="Trust Pilot anmeldelser">
        </div>
            <div id="logo">
                <img src="media/img/footer_logo.webp" alt="Logotype">
            </div>

</footer>

<style>
    footer {
        display: flex;
        justify-content: space-around;
        height: auto;
        flex-wrap: wrap;
        width: 80%;
        padding-top: 1rem;
        margin: auto;
        gap: 2rem;
    }
    .topBorder {
        display: flex;
        height: 2px;
        width: 100%;
        margin-bottom: 1rem;
        border-top: 2px solid var(--ff-green1);
    }
    .googleMaps {
        max-width: 500px;
        object-fit: fill;
        height: auto;
    }
    .googleMaps img {
        object-fit: fill;
        object-position: center;
        width: 100%;
        height: auto;
    }
    .contactInfo {
        display: flex;
        flex-direction: column;
        gap: 1rem;
        list-style: none;
    }
#contact {
    display: flex;
    flex-direction: column;
    height: 100%;
    gap: 1rem;
}
    .mediaLogo {
        display: grid;
        grid-template-rows: 1fr 1fr;
        justify-content: space-around;
        flex-wrap: wrap;
        height: fit-content;
        min-width: fit-content;
    }
    .mediaLogo div {
        display: grid;
        gap: 1rem;
        grid-template-columns: 1fr 1fr;
    }
    #logo {
        min-width: 120px;
        height: auto;
    }
    #logo img {
        width: 100%;
        height: auto;
    }

</style>