<!-- ---
---

<footer>
    <div class="googleMaps">
        <img src="media/img/maps.webp" alt="placeholder Google maps">
    </div>
    <ul class="contactInfo">
            <li><p>Nørrebrogade 63, 2200</p></li>
            <li><p>+45 52 40 63 63</p></li>
            <li><a href="mailto:info@falafelfactory.dk">info@falafelfactory.dk</a></li>
    </ul>
        <div class="socialMedia">
            <ul>
                <li><img src="media/svg/icons/facebook.svg" alt="Facebook"></li>
                <li><img src="media/svg/icons/instagram.svg" alt="Instagram"></li>
            </ul>
            <img src="#" alt="Trust Pilot anmeldelser">
        </div>
    <div class="logo">
        <img src="media/img/footer_logo.webp" alt="Logotype">
     </div>
</footer>
<style>
    footer {
        overflow: hidden;
        display: grid;
        padding-top: 1rem;
        margin-left: 1rem;
        margin-right: 1rem;
        border-top: 2px solid green;
        height: fit-content;
        width: 100%;
        grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
        
    }
    .googleMaps {
        max-width:500px;
        margin: 0.25rem;
        border-radius: 0.25rem;
    }
    .googleMaps img {
        width: 100%;
        height: 100%;
        object-position: center;
        object-fit: fill;
    }
    .contactInfo {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
        list-style: none;
    }
    .contactInfo a {
    }
    .socialLogo {
        display: grid;
        grid-template-columns: 1fr 1fr;
        list-style: none;
        justify-content: center;
    }
    .socialLogo {
    }
    .socialMedia ul {
        display: grid;
        grid-template-columns: 1fr 1fr;
        list-style: none;
    }
    .logo {
    }
    .logo img {
        width: 150px;
        height: auto;
        object-fit: fill;
    }
</style> -->