---
import "../css/global.css";
const {image} = Astro.props;
---

<header >
    <div class="container"> 
        <nav class="navbar">
            <ul class="nav-menu">
                <li class="nav-item">
                    <a href="../" class="nav-link">HOME</a>
                </li>
                <li class="nav-item">
                    <a href="/menu/" class="nav-link">MENU</a>
                </li>
                <li class="nav-item">
                    <a href="/catering/" class="nav-link">CATERING</a>
                </li>
                <li class="nav-item">
                    <a href="/omos" class="nav-link">OM OS</a>
                </li>
            </ul>
            <div class="right-button">
              <button id="viewOrdersBtn">
                <a href="/dinOrdre">Vis Ordre</a>
              </button>
            </div>
          <div class="hamburger">
            <span class="bar"></span>
            <span class="bar"></span>
            <span class="bar"></span>
          </div>
        </nav>
     </div>
   </header>
   
   <nav class="sticky-navbar">
    <div class="containerSticky">
        <ul class="sticky-nav-menu">
            <li class="sticky-nav-item">
                <a href="../" class="sticky-nav-link">HOME</a>
            </li>
            <li class="sticky-nav-item">
                <a href="/menu/" class="sticky-nav-link">MENU</a>
            </li>
            <li class="sticky-nav-item">
                <a href="/catering/" class="sticky-nav-link">CATERING</a>
            </li>
            <li class="sticky-nav-item">
                <a href="/omos/" class="sticky-nav-link">OM OS</a>
            </li>
        </ul>
        <div class="right-button">
          <button id="viewOrdersBtnSticky">
            <a href="/dinOrdre">Vis Ordre</a>
          </button>
        </div>
    </div>
</nav>
   <style>
    @import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');
body {
    margin: 0;
    font-family: 'Quicksand', sans-serif;
    font-weight: bold;
    
    
}
    *{
  padding: 0;
  margin: 0;
}
header {
    display: block;
    position: relative;
    width: 100%;
    z-index: 10000;
   
  }
  .absolute {
    position: absolute;
  }

li{
  list-style: none;
}

a{
  color: white;
  text-decoration: none;
 
}
li a{
  font-size: clamp(1rem,1.5vw, 2rem);
  font-weight: 600;
}

.right-button button {
    padding: 8px 12px;
   
    color: rgb(0, 0, 0);
    border: none;
    border-radius: 4rem;
    margin-right: 1rem;
    cursor: pointer;
}
.right-button button a{
    color: #556146;
    cursor: pointer;
}

.right-button button:hover {
    background-color: #D1E5B9;
}


.container{
  position: absolute;
  max-width: 100%;
    width: 100%;
    
    margin: 0 auto;
    z-index: 1000;
}

.navbar{
  min-height: 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  
}

.nav-menu{
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 30px;
  margin-left: 1rem;
}



.nav-link:hover{
  color: #D1E5B9;
  text-decoration: underline 2px;
}

.hamburger{
  display: none;
  cursor: pointer;
}

.bar{
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  background-color: white;
}

.sticky-navbar {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    max-width: 100%;
    width:fit-content;
    border-top-right-radius: 2rem;
    border-bottom-right-radius: 2rem;
    background-color: #556146;
    z-index: 1000;
}
.containerSticky{
    margin: 0 auto;
    z-index: 1000;
}

.sticky-navbar .containerSticky {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 50px;
    max-width: auto;
   
}

.sticky-nav-menu {
    display: flex;
    justify-content: center;
    align-items: center;
}

.sticky-nav-item {
    margin: 0 20px;
}

.sticky-nav-link {
    color: white;
    text-decoration: none;
    transition: 0.3s ease-out;
}

.sticky-nav-link:hover {
    color: dodgerblue;
}

.visible {
  display: block !important;
}


@media(max-width:768px){

    .sticky-navbar {
        display: none;
    }
  .hamburger{
    display: block;
    margin-right: 1rem;
    background-color:#556146;
    padding: 0.5rem;
    border-radius: 0.5rem;
  }

  .hamburger.active .bar:nth-child(2){
    opacity: 0;
  }
  .hamburger.active .bar:nth-child(1){
    transform: translateY(8px) rotate(45deg);
  }
  .hamburger.active .bar:nth-child(3){
    transform: translateY(-8px) rotate(-45deg);
  }
  .right-button button {
    padding: 8px 12px;
    display: none;
   
    color: rgb(0, 0, 0);
    border: none;
    border-radius: 4rem;
    margin-left: 1rem;
    cursor: pointer;
}

  .nav-menu{
    position: fixed;
    left: -120%;
    top: 70px;
    gap: 0;
    margin-left: 0;
    flex-direction: column;
    width: 100%;
    text-align: center;
    transition: 0.8s ease;
    z-index: 1000;
    background-color:#556146;
  }

  .nav-item{
    margin: 16px 0;
    
  }


  .nav-menu.active{
    left: 0;
  }

}
   </style>

   <script>
const hamburger = document.querySelector(".hamburger");
const navMenu = document.querySelector(".nav-menu");
const stickyNavbar = document.querySelector(".sticky-navbar");

hamburger.addEventListener("click", () => {
  hamburger.classList.toggle("active");
  navMenu.classList.toggle("active");
});

document.querySelectorAll(".nav-link").forEach(n => n.addEventListener("click", () => {
  hamburger.classList.remove("active");
  navMenu.classList.remove("active");
}));


function toggleStickyNavbar() {
  const scrollPosition = window.scrollY;
  const threshold = 500;

  if (window.innerWidth > 768) {
  if (scrollPosition > threshold) {
    stickyNavbar.classList.add("visible");
  } else {
    stickyNavbar.classList.remove("visible");
  }
} else {
  stickyNavbar.classList.remove("visible");
}
}

toggleStickyNavbar();

window.addEventListener("scroll", toggleStickyNavbar);
window.addEventListener("resize", toggleStickyNavbar);

   </script>
