---
import "../css/global.css";
const {image} = Astro.props;
---
<header>
   <div class="wrapper">
    <img src={image} alt="">

   </div>
</header>

<script>
</script>

<style>
header {
    height: 30vh;
    width: 100%;

}

</style>