---
---

<div class="heroPic">
    
</div>

<style>
.heroPic {
    height: 1010px;
    width: 100%;
    background-image: url("/heroImg/Hero_Home.png");
    background-repeat: no-repeat;
    background-size: 100%;
    
    mask-image:url("/svg/HeroMask.svg");
    -webkit-mask-image:url("/svg/HeroMask.svg");
    mask-size: contain;
    mask-repeat: no-repeat;
    mask-position: top left;
    -webkit-mask-size: contain;
    -webkit-mask-repeat: no-repeat;
    -webkit-mask-position: top left; 

}
    
</style>