---
---

<body>
    <section>
    <div class="hero">
       <img src="/heroImg/Hero_Home.png" alt="en test">
    </div>
</section>
</body>

<style>
    .hero {
        width: auto;
      
        mask-image:url("/svg/maske_v2.svg");
    -webkit-mask-image:url("/svg/maske_v2.svg");
    mask-size: contain;
    mask-repeat: no-repeat;
    mask-position: top 0 left;
    -webkit-mask-size: contain;
    -webkit-mask-repeat: no-repeat;
    -webkit-mask-position: top 0 left;
        
        
        
   
    }

    .hero img {
      width: 100%;
       
      
    }

</style>