---
const {sectionText} = Astro.props;
---

<section class="productsSection">
    <h2>{sectionText}</h2>
    <div class="products">
        <slot/>
    </div>
</section>

<style>
.productsSection {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr;
    margin: auto;
    align-items: center;
    justify-content: center;
    width: 80%;
}
.products {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    grid-template-rows: auto;
    width: 100%;
    gap: 2rem;
    place-items: center;
}
h2 {
    text-align: left;
    margin: 1rem;
}
</style>