---
---

<form id="orderForm">
   
        <label for="extraDish">Tilbehør: </label>
        <select id="extraDish" name="extraDish">
            <option value="extra1">Vælg tilbehør</option>
          <option value="extra1">Extra Dish 1</option>
          <option value="extra2">Extra Dish 2</option>

        </select>
        <label for="amount">Antal: </label>
        <select id="amount" name="amount">
            <option value="amount1">Antal</option>
          <option value="amount2">1</option>
          <option value="amount3">2</option>

        </select>
    

    
    <button type="submit">Tilføj Ordre</button>
  </form>

  <style>
   
    #orderForm {
      max-width: 300px;

      color: var(--ff-green1);
    }
    label {
      display: block;
      margin-bottom: 5px; 
      font-size: 1vw;
    }
    button {
      display: inline-block;
    box-sizing: content-box;
    height: auto;
    max-height: 2rem;
    max-width: 12rem;
    padding: 1rem;
    border-radius: 1.5rem;
    border: 2px solid;
    text-align: center;
    color: var(--ff-white1);    
    border-color: var(--ff-white1);
    background-color: var(--ff-green1);
    }
    button:hover {
    
    text-decoration: underline 1px;
    background-color: #6e7e5b;
}

    #extraDish,
#amount {
  padding: 8px;
  font-size: 1rem;
  border: 1px solid #ccc; 
  border-radius: 5px;
  background-color: #fff;
  color: #959595;
  width: balance;
  margin-bottom: 10px; 
}


  </style>


<script>

    let dishCount = 11;

    function addDish() {
      const dishesContainer = document.getElementById('dishesContainer');

      const dishDiv = document.createElement('div');
      dishDiv.className = 'dish-container';

      const label = document.createElement('label');
      label.textContent = `Dish ${dishCount}: `;
      dishDiv.appendChild(label);

      const input = document.createElement('input');
      input.type = 'text';
      input.name = `dish${dishCount}`;
      dishDiv.appendChild(input);

      dishesContainer.appendChild(dishDiv);

      dishCount++;
    }
  </script>
