---
---

<section>
    <div class="grid_1_1">
        <div class="grid_item">
            <h2>
                VORES KONCEPT
            </h2>
            <h5>Vi omfavner udvalgte opskrifter fra Mellemøsten, især den velkendte falafel der med en blid brise har fundet vej til vores butik i København. Vi tilfører vores eget personlige præg til traditionelle opskrifter, da vores passion er at udforske forskellige smagsoplevelser.
Det kommer til udtryk i vores måde at kombinere forskellige køkkener på.
Vi ønsker at viderebringe den friturestegte bolle af mosede kikærter på en ekstraordinær og nyfortolket måde. Vi forelskede os i falaflen grundet den vidunderlige smag - og så er den lavet på bælgfrugter, der indeholder både vitaminer og proteiner. 
            </h5>
        </div>
        <div class="grid_item">
            <img src="/media/img/Om_os_Kok.webp" alt="En kok i professionelt kokketøj med kokkehue præsenterer stolt en kasse fyldt med friske, røde chili peberfrugter. Han smiler mod kameraet med et venligt og imødekommende udtryk, som om han er klar til at bruge disse ingredienser i hans næste kulinariske skabelse. Baggrunden er enkel og neutral, hvilket fremhæver farven på chilierne og kokkens sorte uniform">
        
        </div>
        <div class="grid_item">
            <img src="/media/img/Om_os_Ejer.webp" alt="En mand, der ser ud til at være ejeren, står bag en madvogn og betjener en lækker portion mad. Han er i færd med at hælde en grøn sauce over maden og holder et stykke fladbrød i den anden hånd. Han smiler mens han forbereder maden, hvilket tilføjer en personlig og venlig atmosfære til oplevelsen. Foran ham er der skåle med forskellige tilbehør, herunder en skål med nødder og en anden med syltede grøntsager, alt sammen præsenteret i en appetitvækkende og indbydende måde">
        </div>
        
    </div>



</section>

<style>
    img {
        height: auto;
        width: 100%; /* Ensures images take the full width of the grid item */
    }

    .grid_1_1 {
        display: grid;
        grid-template-columns: repeat(2, minmax(200px, 1fr));
        justify-items: center; /* Centers items horizontally */
        align-items: center; /* Centers items vertically if needed */
        margin-left: 10%;
        margin-right: 10%;
        margin-bottom: 5%;
        width: 80%; /* Adjust if necessary to ensure full width */
    }

    .grid_item:nth-child(1) {
        grid-column: 1;
        grid-row: 1 / span 2;
    }

    .grid_item:nth-child(1) h5 {
        width: balance;
        font-weight: 400;
        margin-top: 8%;
    }

    .grid_item:nth-child(2), .grid_item:nth-child(3) {
        grid-column: 2;
        /* Removed margin-left as it's not necessary for centering */
    }

    @media (max-width: 768px) { 
        .grid_1_1 {
            display: grid;
            grid-template-columns: 1fr;
            justify-items: center;
            margin-left: 10%;
            margin-right: 10%;
            margin-bottom: 5%;
        }

        .grid_item:nth-child(1), .grid_item:nth-child(2), .grid_item:nth-child(3) {
            grid-column: 1;
            margin-top: 5%;
            /* Removed margin-left as it's not necessary for centering */
        }
    }
</style>