---
---

<section>
    <div class="grid_1_1">
        <div class="grid_item">
            <h2>
                VORES KONCEPT
            </h2>
            <h5>Vi omfavner udvalgte opskrifter fra Mellemøsten, især den velkendte falafel der med en blid brise har fundet vej til vores butik i København. Vi tilfører vores eget personlige præg til traditionelle opskrifter, da vores passion er at udforske forskellige smagsoplevelser.
Det kommer til udtryk i vores måde at kombinere forskellige køkkener på.
Vi ønsker at viderebringe den friturestegte bolle af mosede kikærter på en ekstraordinær og nyfortolket måde. Vi forelskede os i falaflen grundet den vidunderlige smag - og så er den lavet på bælgfrugter, der indeholder både vitaminer og proteiner. 
            </h5>
        </div>
        <div class="grid_item">
            <img src="/media/img/Om_os_Kok.webp" alt="">
        
        </div>
        <div class="grid_item">
            <img src="/media/img/Om_os_Ejer.webp" alt="">
        </div>
        
    </div>



</section>

<style>
    img {
        height: auto;
        width: 100%;
    }

    .grid_1_1 {
        display: grid;
        grid-template-columns: repeat(2, minmax(200px, 1fr));
    justify-items: center;
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 5%;
    }
    .grid_1_1 img {
        height: auto;
        width: 70%;
    
    }
    .grid_item:nth-child(1) {
        grid-column: 1;
        grid-row: 1 /span 2;
    }
    .grid_item:nth-child(1) h5 {


       width: balance;
       font-weight: 400;
       margin-top: 8%;
    }
    .grid_item:nth-child(2) {
        grid-column: 2;
        margin-left:30%;
    }
    .grid_item:nth-child(3) {
        grid-column: 2;
        margin-left:30%;
    }
  
</style>