@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@400;700&display=swap");

:root {
  --ff-green1: #556146;
  --ff-green2: #778762;
  --ff-white1: #f1f1f1;
  --ff-white2: #f5ffe9;
  --ff-text: "Quicksand", sans-serif;
  --ff-text-400: 400;
  --ff-text-700: 700;
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
h1,
h2,
h3,
h4 {
  font-family: var(--ff-text);
  font-weight: var(--ff-text-700);
  color: var(--ff-green1);
}
p,
a,
span {
  font-family: var(--ff-text);
  font-weight: var(--ff-text-700);
}
h1 {
  font-size: clamp(1.5rem, 8vw, 8rem);
}
h2 {
  font-size: clamp(2rem, 6vw, 3.5rem);
}
h3 {
  font-size: clamp(1.5rem,3vw, 1.8rem);
}
h4 {
  font-size: clamp(1.5rem,2vw, 1.3rem);
}
h5 {
  font-size: clamp(1rem, 4vw, 2rem);
}
h6 {
  font-size: clamp(1rem, 5vw, 1.875rem);
}
p {
  font-size: clamp(1rem, 2vw, 1.5rem);
}
a {
  text-decoration: none;
  text-align: center;
  font-size: larger;
}
.light-mode {
  background-color: var(--ff-white);
  color: var(--ff-green);
}
.dark-mode {
  background-color: var(--ff-green);
  color: var(ff-white);
}

img {
  width: 100%;
  height: auto;
}
